*{
	font-family:  "Lato", sans-serif;
  text-align: justify;
  }
  h1{
	font-weight: 550;
  text-align: center;
  font-size: 40px;
  }
  h2{
    font-weight: 450;
    text-align: center;
    font-size: 30px;
    
  }
  h3{
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    
  }
  p{
    font-size: 16px;
  }
  .vis-container{
	width: 100%;
  }

  .pure-g{
	margin-bottom: 25px;
  }

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('crash.jpg');
  min-height: 100%;
}
.wrap {
  word-wrap: break-word;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 2000px) {
  .bgimg-1{
    background-attachment: scroll;
    min-height: 400px;
  }
}